body {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

#home-link, #contact-link {
    color: black;
    font-size: 1.3rem;
}

#navbar, #header {
    background-color: #ca8a04;
}

#navbar {
    padding: 2.5rem 0;
}

#img-couch {
    padding-top: 20rem;
}

header #img-app {
    top: 30;
}

#img-app {
    top: 10rem;
}

#dlbtn, #sign-up-btn {
    background-color: #ca8a04;
    font-weight: bold;
    font-size: 1.2rem;
}

#section-2 {
    margin: 7rem 0;
}

#section-3 {
    background-color: black;
}

#section-3 h1 {
    color: #ca8a04;
}

#div-sec-4 {
    margin: 7rem 0;
}

#section-5 label{
    font-weight: bold;
}


#name, #email, #comment {
    border-color: #ca8a04;
}

p {
    font-size: 1.2rem;
    color: black;
}