body {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

#home-link, #contact-link {
    color: black;
    /* font-weight: bold; */
    font-size: 1.2rem;
}

#navbar, #header {
    background-color: #ca8a04;
}

#div-logo {
    justify-content: center;
    align-items: center;
}

#img-couch {
    padding-top: 10rem;
    position: relative;
    top: 0;
    left: 0;
}
#img-app {
    position: absolute;
    top: 15rem;
    left: 35rem;
}
