body {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

#home-link, #contact-link {
    color: black;
    font-size: 1.3rem;
}

#navbar, #header {
    background-color: #ca8a04;
}


#img-couch {
    padding-top: 13rem;
    position: relative;
    top: 0;
    left: 0;
}

#dlbtn {
    background-color: #ca8a04;
    font-weight: bold;
    font-size: 1.2rem;
}

button:hover {
    background-color: rgb(248, 95, 95);
}

#section-2 {
    margin: 6rem 0;
}

#section-3 {
    background-color: black;
}

#section-3 h1 {
    color: #ca8a04;
}

/* #div-sec-3 {
    padding: 3rem 3rem;
} */

p {
    font-size: 1.2rem;
}